<!-- Wrapped/templates/home_logged_in.html -->
{% extends "base.html" %}

{% block title %}Home - Wrapped{% endblock %}

{% block content %}

{% if spotify_user_data %}
    <h3>Welcome, {{ spotify_user_data.profile.display_name }}!</h3>
    <p>Email: {{ spotify_user_data.profile.email }}</p>
    <p>What have you been Listening to?</p>

    <!-- Button to go to Wrapped page -->
    <form action="{% url 'wrapped' %}" method="get">
        <button type="submit" class="btn btn-primary">Go To Your Wrapped</button>
    </form>

    
{% else %}
    <p>No Spotify data available. <a href="{% url 'spotify_login' %}">Connect to Spotify</a></p>
{% endif %}

{% endblock %}
