{% extends 'base.html' %}

{% block title %}Previous Wraps{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Your Previous Spotify Wrapped</h2>
    <p>Revisit your past Wrapped data below:</p>
    <ul class="list-group">
        <li class="list-group-item">
            <strong>2023:</strong> Top Artist: Billie Eilish, Top Song: "bad guy"
        </li>
        <li class="list-group-item">
            <strong>2022:</strong> Top Artist: Drake, Top Song: "God's Plan"
        </li>
        <li class="list-group-item">
            <strong>2021:</strong> Top Artist: Adele, Top Song: "Easy on Me"
        </li>
    </ul>
</div>
{% endblock %}
