{% extends "base.html" %}

{% block title %}Profile - FoodFinder{% endblock %}

{% block content %}
    <h2>{{ user.username }}'s Profile</h2>
    <p><strong>Email:</strong>
        {% if user.email %}
            {{ user.email }}
        {% elif user.socialaccount_set.exists %}
            {{ user.socialaccount_set.first.extra_data.email }}
        {% else %}
            No email available
        {% endif %}
    </p>
    <p><strong>First name:</strong> {{ user.first_name }}</p>
    <p><strong>Last name:</strong> {{ user.last_name }}</p>
{% endblock %}
